<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <table>
      <thead>
        <th>Equipment id</th>
        <th>Equiment name</th>
        <th>Equiment spec</th>
        <th colspan="2">Actions</th>
      </thead>
      <%= equip.forEach(e=>{ %>
      <tbody>
        <td>e.id</td>
        <td>e.name_attr</td>
        <td>e.spec</td>
        <td><a href="/edit/<%=e.id%>"></a></td>
        <td><a href="/delete/<%=e.id%>"></a></td>
      </tbody>
      <% }) %>
    </table>
  </body>
</html>
