<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <ul>
      <li><a href="/user">USER</a></li>
      <li><a href="/equipment">EQUIPMENT</a></li>
    </ul>
  </body>
</html>
